<h1>Comments</h1>
<div class="form-group">
      <% comments.forEach(function(comment) { %>
        <br>
        <div> <%=comment.content %> </div>
        <div> Comment Written by:<%=comment.name %></div>
      <% }) %>
  </div>