<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<div class="form-group">
  <label for="commentLink">Write a comment</label>
  <input type="text" class="form-control" id="commentLink" name="commentLink" required>
</div>

<input type="submit" class="btn btn-primary">
<hr />

<a href="/">&larr; Back Home</a>
